
:root {
    --main--cl: #434455;
    --footer--cl: #F4F4FD;
    --logos--cl: #2e2f42;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--main--cl);
    background-color: #FFFFFF;
 }

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
}

/*! -----heder----- */

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation{
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 76px;
}

.header-container{
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4D5AE5;;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}

.header-logo-color {
    color: var(--logos--cl);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase 
    
}

.header-logo:hover
 {
    color: #404bbf;
}

.header-logo-color:focus
 {
    color:#404bbf;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    color: var(--logos--cl);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.header-menu-link:hover,
.header-menu-link:focus {
    color:#404bbf;
}

.address {
    font-style: normal;
}

.header-menu-address{
    display: flex;
    gap: 40px;
    margin-right: 156px;
}

.header-mailto {
    color: var(--main--cl);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}


.header-mailto {
    color: var(--main--cl);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24p1.5;
    letter-spacing: 0.02em;  
}

.header-mailto:hover {
    color: #404bbf
}
.header-mailto:focus
{
    color: #404bbf
}

/*! -----main----- */

.hero {
   padding-bottom: 120px;
}

.hero-wrap{
    background-color: var(--navyblue, #2E2F42);
    padding: 188px 472px 188px 472px;
}

.hero-title {
    color: var(--white, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin-bottom: 48px;
}

.hero-btn {
    background-color: var(--iris, #4D5AE5);
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}
 
.hero-btn:hover
{
    background-color: #404BBF;
}

.hero-btn {
    color: var(--white, #FFF);
font-family: "Roboto", sans-serif;
cursor: pointer;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;

}

.advantages {
    
}

.advantages-list {
    padding-left: 0px 156px;
    display: flex; 
    gap: 24px;
}

.advantages-item {
width: (calc(100% - 2 * 24) / 4 )
}

.advantages-subtitle {
    color: var(--navyblue, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 18px;
}
.advantages-text {
    color: varvar(--main--cl);
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}
  
.work {
    padding-top: 120px;
}

.work-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 323px; 
    margin: 0 auto; 
    margin-bottom: 72px;
}
.work-item {
    display: flex;
    gap: 24px;
    
}
.work-list {
    width: calc((100%-48)/3);
}

.work-img{}

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
}
.team-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;

}
.team-item {
    display: flex;
}
.team-list {
    background-color: #FFFFFF;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
background: var(--white, #FFF);
}
.team-subtitle {
    color: var(--navyblue, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.team-text {
    color: varvar(--main--cl);
font-family: Roboto;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em
}

.portfolio {

}

.navigation {
}
.navigation-item {
}
.navigation-list {

}

.navigation-btn{
    background-color: var(--cloud, #F4F4FD);
}

.navigation-btn {
color: var(--iris, #4D5AE5);
font-family: "Roboto", sans-serif;
cursor: pointer;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}

.navigation-btn:hover,
:focus
 {
    color: #FFFFFF;
    background-color: #404BBF
}

.portfolio {
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 32px;
}
.portfolio-item {
    width: calc((100%-2*24)/3);
}

.portfolio-img{
    margin-bottom: 32px;
}

.portfolio-subtitle {
    color: var(--navyblue, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.portfolio-text {
    color: var(--main--cl);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-logo {
    color: var(--navyblue,  #4D5AE5);;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase 
}

.footer-logo-color {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase 
    
}

.footer { background-color:#2e2f42 ;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo{
    margin-bottom: 16px;
}

.footer-text {
    color: var(--footer--cl);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}